<%= form_for(@comment) do |f| %>
  <%= f.hidden_field(:post_id, :value => "#{@comment.post_id}") %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, :rows => 5, :placeholder => "Comments..." %>
  </div>
  <%= f.submit(class: "btn add") %>
<% end %>
