<h2 class="sub-title">Links-</h2>
<% ranked = @posts.sort_by { |post| post.votes.length }.reverse %>

<ol>
  <% ranked.each do |post| %>
    <li>
      <%= link_to "#{post.title}", post.link, class: "btn posted" %>
      <span class="small-link"> - (<%= post.link %>)</span> -
      <a href="/posts/<%= post.id %>/votes" data-method="create"><button class="btn voter btn-sm">upVote - <%= post.votes.length %></button></a>
      <%= link_to "Read Comments", post_path(post), class: "btn btn-default btn-sm" %>
    </li>
  <% end %>
</ol>

<p><%= link_to "Add Post", new_post_path, class: "btn add" %></p>
