<h2 class="sub-title">Links-</h2>
<% ranked = @posts.sort_by { |post| post.votes.length }.reverse %>

<ol>
  <% ranked.each do |post| %>
    <li>
      <%= link_to "#{post.title}", post.link, class: "btn posted" %>
      <span class="small-link"> - (<%= post.link %>)</span> -
      <%= link_to "Read Comments", user_post_path(post.user_id, post), class: "btn btn-default btn-sm" %>
      - Posted by <%= User.find(post.user_id).username %>
      <% if @user %>
        <%= form_for [@user, post, @vote] do |f| %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <p><button class="btn voter btn-sm" type="submit" value="Vote"> upVote <strong>| <%= post.votes.length %></strong></button></p>
        <% end %>
      <% end %>
      <hr>
    </li>
  <% end %>
</ol>

<% if @user %>
  <p><%= link_to "Add Post", new_user_post_path(@user), class: "btn add" %></p>
<% end %>
