<h1>Hacker News</h1>

<ol>
  <% @posts.each do |post| %>
    <li><button class="btn"<a href="<%= post.link %>"><%= post.title %></a></button><span class="small-link"> - (<%= post.link %>)</span> - <%= post.votes.length %> - <a href="/posts/<%= post.id %>/votes" data-method="create"><button>Vote</button></a></li>
  <% end %>
</ol>
